{{ extend 'wiki/base.html' }}

<header>
  <div class='banner'>
    
    <h1 class='banner-title'>A Scientific Wiki Project</h1>

  <div class='category'>
    
    <ul>
      {{ for cat in MongoWrapper (mongo.categories.find ({request.function: True})): }}
      <li class='category-list'>
	<a class='color-eef' href="{{= URL (r = request, args = request.args, vars = {'cat': str (cat._id)}) }}">{{= cat.name }}</a>
      </li>
      {{ pass }}
    </ul>
  </div>
    <p class='blog-description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet neque ante, et pretium erat. Maecenas egestas fermentum vulputate. Vivamus adipiscing varius consequat. Fusce euismod hendrerit enim vel viverra. Nullam eget ante arcu. Vestibulum luctus commodo dui, quis semper urna cursus et. Mauris vel nisl eget massa gravida sollicitudin. Etiam aliquam rhoncus tortor, vitae facilisis neque suscipit accumsan.</p>
    
  </div>

</header>

<div class='blog-section'>

  <div class='right-col'>
    
    <!--<h4 class='right-top'>Summary</h4>-->
    
    <div class='right-box'>
      
      <h5 class='right-title'>Recent</h5>
      
      <ul class='right-list'>
	
	{{ for page in pages[0:10]: }}
	{{ if page.title: }}
	<li><a href="{{= URL (r = request, args = [page.slug, 'view']) }}">{{ =page.title }}</a></li>
	{{ pass }}
	{{ pass }}
	
      </ul>
      
    </div>
    
    <div class='right-box'>
      
      <h5 class='right-title'>Tags</h5>

      <ul class='right-list'>

	{{ tags = [] }}
	
	{{ for page in pages: }}
	{{ if page.tags: }}
	{{ tag = str(page.tags) }}
	{{ split = tag.split("'") }}
	{{ count = 0 }}
	{{ while ( count < len(split)): }}
			   {{ if ( count%2==1 ) & (split[count] not in tags): }}
			   {{ tags.append(split[count]) }}
			   <li>{{=split[count]}}</li>
			   {{ pass }}
			   {{ count = count + 1 }}
			   {{ pass }}
			   {{ pass }}
			   {{ pass }}

      </ul>

    </div>

    <div class='right-box'>

      <h5 class='right-title'>Follow Us</h5>

      <ul class='right-list follow'>
	<li class='follow-li' title='Twitter'><a href="http://www.twitter.com/dotskapes"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" alt="Follow dotskapes on Twitter"/></a></li>
	<li class='follow-li' title='Feeds'><a href="#"><img class='w36h36' src="http://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg" alt="Follow dotskapes on rss feed"/></a></li>
	<li class='follow-li' title='dotSkapes'><a href="http://skapes.org"><img class='w36h36' src="http://skapes.org/app/static/images/130px_logo_white_alpha.png" alt="dotskapes.com"/></a></li>

      </ul>
      
    </div>
  </div>

  <div class='left-col'>
    <!--<h4 class='left-top'>Recent Articles</h4>-->

    <div class='post'>

      <div id="plugin_wiki">
	{{request.args.append (None) }}
	{{ for page in pages: }}
	  {{ include 'wiki/page_base.html' }}
	{{ pass }}
      </div><!-- end of plugin_wiki -->
    </div>
  </div>
</div>

